* {
    font-family: 'Work Sans';
}

header {
    background: rgba(255, 144, 14, 0.1);
}

.navbar-brand {
    font-family: 'Work Sans';
    /* font-style: normal; */
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    /* text-align: center; */
    color: #131313;
}

.navbar-expand-lg .navbar-nav .nav-item {
    margin-right: 42px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Work Sans';
    /* font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* text-align: center; */
    color: #424242;
}



section.banner h1.h1 {

    /* font-style: normal; */
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    /* text-align: center; */
    color: #131313;
}

section.banner .btn {
    background: #FF900E;

}


main section.quick-feature .btn {
    background: #FF900E;

}

span.a {
    font-weight: 700;
}

span.b {
    font-weight: 700;
    color: #FF900E;
}


section.features div div h1 {
    border-left: 5px solid #FF900E;
    font-weight: 700;

}

section.features div div section h5 {
    font-weight: 600;
}

section.features div div.img {
    position: relative;
}

section.features div div.img img {
    width: 94%;
}

section.features div div.img div {
    position: absolute;
    background: #FF900E;
    color: white;
    bottom: 0;
    left: 0;
}



section.facts h2.h2 {
    font-weight: 700;
}

section.grid div div {

    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 189px;
    height: 200px;
    transition: 1.5s transform ease-in-out ;
} 
section.grid div div:hover{
    transform: rotate(360deg);
}

section.sponsor h3 {
    font-family: 'Work Sans';

    font-weight: 700;
    font-size: 35px;
    color: #131313;
    line-height: 53px;

}


section.brand div div img{
    filter: saturate(0);
}

footer{
    background: #FFF4E7;
}